/* Right Menu */
.rightMenu {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.rightMenu .rightMenuItem {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--lightWhite);
}

.rightMenu h2 {
  margin-bottom: 20px;
  color: var(--white);
  background-image: var(--linear-grad);
  padding: 5px 10px;
  font-family: var(--font-titles);
  letter-spacing: .1rem;
}

.categories {
  margin-top: 60px;
}

.containerBlog .rightMenu img {
  width: 35%;
  height: 100px;
  object-fit: cover;
  border-radius: .4rem;
  cursor: pointer;
}

.rightMenuItemText {
  margin-left: 20px;
}

.rightMenu span {
  color: var(--semiBlack);
  font-size: 15px;
}

.rightMenu h3 {
  font-size: 17px;
  cursor: pointer;
  transition: color 0.7s ease;
  color: var(--black);
  transition: .3s ease;
  transition-property: color;
}

.rightMenu h3:hover {
  color: var(--blue);
}

@media (max-width: 1000px) {
  .rightMenu {
    width: 90vw;
  }

  .containerBlog .rightMenu img {
    width: 20%;
    height: auto;
    border-radius: .3rem;
  }

  .rightMenu span {
    font-size: 18px;
  }
  
  .rightMenu h3 {
    font-size: 22px;
  }
}

@media (max-width: 500px) {
  .containerBlog .rightMenu img {
    width: 30%;
    border-radius: .3rem;
  }

  .rightMenu span {
    font-size: 13px;
  }
  
  .rightMenu h3 {
    font-size: 18px;
  }
}