.container {
  display: flex;
  column-gap: .5rem;
  padding: 0 0 0 15px;
}

.like,
.dislike {
  overflow: hidden;
  color: var(--semiBlack);
  font-size: 20px;
  display: flex;
}

.like i,
.dislike i {
  cursor: pointer;
}

.buttonLike,
.buttonDislike {
  transition:  0.3s linear;
  transition-property: color;
}

.buttonLike:hover {
  color: var(--blue);
}

.buttonDislike:hover {
  color: var(--red);
}

.counter {
  font-size: 15px;
}

