.navbar {
  display: flex;
  position: absolute;
  right: 5%;
  top: 14%;
}

.navbar .buttonLogout {
  padding: 10px;
  height: 60px;
  color: var(--text-white);
  background-color: var(--button-bg);
  border: 2px solid var(--button-border);
  font-size: 20px;
  border-radius: 6px;
  transition: all .5s;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  overflow: hidden;
}

.navbar .buttonLogout:hover {
  -webkit-animation: pulsate-fwd 0.5s ease-in-out both;
	        animation: pulsate-fwd 0.5s ease-in-out both;
}

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 760px) {
  .navbar {
    margin-left: 5%;
    position: relative;
    width: 100%;
  }

  .navbar .buttonLogout {
    font-size: 1rem;
    margin-top: 5rem;
    width: 120px;
    padding: 3px;
  }
}