.containerMain {
  margin: 100px 5% 0 5%;
}

.containerMain .containerTitle {
  display: flex;
  justify-content: center;
}

.containerMain .containerTitle .spanTitle {
  color: var(--red);
  letter-spacing: 2px;
  font-family: var(--font-titles);
  padding: 0 10px;
  font-size: 3.5rem;
  font-weight: 600;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.accordion {
  width: 80%;
  background: var(--white);
  box-shadow: 1px 1px 0 0 #888888;
}

.accordion ul {
  list-style: none;
}

.itemSelected,
.item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.142);
  padding: 20px 50px;
}

.itemSelected {
  background: #8794e674;
}

.item span {
  color: var(--red);
  font-size: 25px;
  font-weight: 400;
}

.title {
  color: var(--black);
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content {
  max-height: 0;
  color: var(--semiBlack);
  overflow: hidden;
  transition: max-height 0.7s cubic-bezier(0, 1, 0, 1);
}

.show {
  height: auto;
  color: var(--semiBlack);
  max-height: 9999px;
  overflow: hidden;
  padding: 15px 0;
  transition: max-height 0.7s cubic-bezier(1, 0, 1, 0);
}

@media (max-width: 500px) {
  .containerMain .containerTitle .spanTitle {
    font-size: 30px;
  }

  .itemSelected,
  .item {
    padding: 20px;
  }

  .accordion {
    width: 100%;
  }
}