.navbar {
  width: 100%;
}

.navbar .login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  margin-right: 65px;
}

.navbar .sigIn {
  cursor: pointer;
}

.navbar .register {
  padding: 10px 20px;
  color: var(--text-white);
  background-color: var(--button-bg);
  border: 2px solid var(--button-border);
  font-size: 20px;
  border-radius: 6px;
  transition: all .5s;
  cursor: pointer;
  font-weight: 600;
  overflow: hidden;
}

.navbar .register:hover {
  -webkit-animation: pulsate-fwd 0.5s ease-in-out both;
	        animation: pulsate-fwd 0.5s ease-in-out both;
}

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 900px) {
  .navbar .login {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 1.5rem 0 0 10px;
  }

  .navbar .register {
    margin: 5px 20px 0 0;  
    padding: 4px 8px;  
  }

}
