.navbar {
  position: absolute;
  right: 5%;
  top: 14%;
}

.navbar .login {
  overflow: hidden;
  cursor: pointer;
}

.navbar .sigIn {
  margin-right: 45px;
}

.navbar .register {
  padding: 10px 20px;
  color: var(--text-white);
  background-color: var(--button-bg);
  border: 2px solid var(--button-border);
  font-size: 20px;
  border-radius: 6px;
  transition: all .5s;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  overflow: hidden;
}

.navbar .register:hover {
  -webkit-animation: pulsate-fwd 0.5s ease-in-out both;
	        animation: pulsate-fwd 0.5s ease-in-out both;
}

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 760px) {
  .navbar {
    margin-left: 5%;
    position: relative;
    width: 100%;
  }

  .navbar .register,
  .navbar .sigIn {
    font-size: 1.2rem;
    margin-top: 1rem;
    width: 100%;
    margin-left: 5%;
  }

  .navbar .register {
    font-size: 1.2rem;
    width: 140px;
    height: 50px;
  }
}

@media (max-width: 390px) {
  .navbar .register {
    font-size: 0.9rem;
    width: 80px;
    padding: 2px;
    height: 50px;
  }
}