.mainContainer {
  width: 100%;
}

.containerTextLikeDislike {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1.3rem;
  height: 100%;
  width: 100%;
}

.text {
  padding: 15px 15px 0 15px;
  font-size: 15px;
}

.editButton span,
.updateButton button {
  position: absolute;
  cursor: pointer;
  padding: 0 5px 2px 0;
  transition: 0.3s linear;
  transition-property: color;
  overflow: hidden;
  color: var(--semiBlack);
}

.editButton span {
  right: 30px;
  bottom: 0;
  font-size: 20px;
}

.editButton .isEditing {
  color: var(--blue);
}

.editButton .isEditing:hover {
  color: var(--semiBlack);
}

.editButton span:hover {
  color: var(--blue);
}

.updateButton button {
  right: 65px;
  bottom: 5px;
  font-size: 13px;
  padding: 1px 4px;
  cursor: pointer;
  color: var(--white);
  background: var(--blue);
  transition: .3s background ease-in-out;
}

.updateButton button:hover {
  background: #4657c3b1;
}

.editInput {
  width: 97%;
  min-height: 15vh;
  padding: .2rem;
  margin: 1rem 0 2rem 0;
  background: transparent;
  overflow: hidden;
  font-size: 15px;
}

.hide {
  display: none !important;
}

@media (max-width: 1000px) {
  .editInput {
    height: auto;
    min-height: 20vh;
  }
}

@media (max-width: 500px) {
  .editInput {
    min-height: 40vh;
  }
}
