 .containerBlogHome {
  margin: 2rem 5%;
}

 .containerBlogHome ul {
  list-style: none;
}

.containerBlogHome .containerTitle {
  display: flex;
  justify-content: center;
}

.containerBlogHome .containerTitle span {
  color: var(--red);
  letter-spacing: 2px;
  font-family: var(--font-titles);
  padding: 5px 10px;
  font-size: 3.5rem;
  font-weight: 600;
}

.containerBlogHome main {
  margin-top: 30px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  width: 100%;
}

.containerBlogHome main .imgBlog {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  cursor: pointer;
}

.containerBlogHome main .containerTextBlog {
  max-width: 100%;
  overflow: hidden;
}

.containerBlogHome main .containerTextBlog h2 {
  margin: 10px 0;
  line-height: 1.3;
  overflow: hidden;
  cursor: pointer;
  color: var(--black);
  transition: color 0.3s ease-in-out;
}

.containerBlogHome main .containerTextBlog h2:hover {
  color: var(--blue);
}

.containerBlogHome main .containerTextBlog p {
 color: var(--semiBlack);
 overflow: hidden;
}

.containerBlogHome main .containerTextBlog span {
  color: var(--blue);
  padding: 2px 5px;
  background-color: transparent;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: .3s ease;
  transition-property: background, color;
}

.containerBlogHome main .containerTextBlog span:hover {
  background: var(--blue);
  color: var(--red);
}

.containerButtonShowMore {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonShowMore {
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 1.2rem;
  position: relative;
  box-shadow: none;
  font-weight: bold;
}

/* Responsive */
@media (max-width: 1000px) {  
  .containerBlogHome main {
    grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
  }
}

@media (max-width: 800px) {
  .containerBlogHome .containerTitle span {
    font-size: 35px;
  }

  .containerBlogHome main .imgBlog {
    width: 100%;
    height: auto;
  }

  .containerBlogHome main .containerTextBlog h2 {
    font-size: 1.2em;
  }
    
  .containerBlogHome main .containerTextBlog span,
  .containerBlogHome main .containerTextBlog p {
    font-size: 0.9em;
  }

}

@media (max-width: 360px) {
  .containerBlogHome main {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }
}