/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

.hide {
  display: none;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background: var(--text-main);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.menuIcon {
  font-size: 2rem;
  color: var(--text-secondary);
  cursor: pointer;
  display: none;
}

.header img {
  width: 60px;
  height: 45px;
  border-radius: 100%;
  margin-left: 5%;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.navbar ul {
  display: flex;
}

.navbarSession a,
.navbar a {
  font-size: 20px;
  color: var(--text-white);
  text-decoration: none;
  font-weight: 700;
  margin-right: 50px;
  transition: .3s;
}

.navbarSession a:hover,
.navbar a:hover,
.navbar a.active {
  color: var(--text-secondary);
}

/* Responsive */
@media (max-width: 900px) {
  .header {
    justify-content: start;
    min-height: 35px;  
  }

  .header img {
    position: absolute;
    top: 0;
    margin-top: 17px;
  }

  .menuIcon {
    position: absolute;
    display: block;
    top: 0;  
    right: 2%;
    font-size: 60px;
  }

  .navbar {
    transition: .25s ease;
    transition-delay: .25s;
    width: 100%;
    margin: 2rem 0 0 0.5rem;
  }

  .navbar ul {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .navbar .navLinkMobile {
    display: block;
    font-size: 1.2rem;
    margin-top: 1rem;
    width: 100%;
  }
}
