/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}

.hide {
  display: none;
}

/* Header */
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 5%; 
  margin-top: .2rem;
  column-gap: 2.5rem;
  row-gap: .3rem;
}

.header ul {
  display: flex;
  column-gap: 2.5rem;
  list-style: square inside;
}

.header p {
  font-weight: 700;
  font-size: 1rem;
}

.header li {
  font-size: .8rem;
  color: var(--gray);
  font-weight: 400;
  cursor: pointer;
  transition: .3s ease;
  transition-property: text-decoration;
}

.header li:hover {
  text-decoration: solid underline var(--gray) 2px;
}

.navbarContainer {
  position: fixed;
  top: 5%;
  left: 0;
  width: 100%;
  padding: .5rem 0;
  background-image: var(--linear-grad);
  display: flex;
  align-items: center;
  z-index: 100;
}

.navbarContainer li {
  list-style: none;
}

.navbarContainer.scrolled {
  top: 0;
}

.navbarMobile,
.navbar {
  width: 100%;
  display: flex;
  column-gap: 2.5rem;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.logoCulemania {
  font-size: 1.6rem;
  letter-spacing: .1rem;
  font-weight: 700;
  color: var(--white);
  font-family: var(--font-titles);
}

.navbarSession a,
.navbar a {
  font-size: 1rem;
  color: var(--white);
  text-decoration: none;
  font-weight: 400;
  transition: .3s ease;
  transition-property: color;
}

.navbarSession a:hover,
.navbar a:hover,
.navbar a.active {
  color: var(--blue);
}

.containerLogIn {
  position: absolute;
  right: 5%;
}

/* Mobile */
.navbarMobile {
  display: none;
}

.close_sidebar i,
.navbarMobile i {
  color: var(--white);
  font-size: 2.2rem;
}

.sidebar{
  position: absolute;
  top: 0;
  right: -30rem;
  height: 100vh;
  width: min(30rem, 100%);
  background-image: var(--linear-grad);
  transition: .4s ease-in-out transform;
}

.active_sidebar{
  transform: translateX(-30rem)
}

.close_sidebar{
  position: absolute;
  top: 0;
  right: -2rem;
  height: 5rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.sidebar_content{
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding-top: 9rem;
}

.sidebar_content hr{
  margin-top: -2rem;
  border: none;
  border-bottom: 1px solid var(--semiWhite);
  margin-bottom: 0;
}

.sidebar_content a {
  color: var(--white);
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--semiWhite);
}

.sidebar_content a svg{
  width: 2.4rem;
}

.navItemsMobile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navItemsMobile i {
  font-size: 2rem;
}

/* Responsive */
@media (max-width: 1050px) {
  .navbar{
    display: none;
  }

  .navbarMobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sidebar_content a {
    font-size: 1.5rem;
  }
}

@media (max-width: 435px) {
  .navbarContainer {
    top: 8%;
  }
}

@media (max-width: 385px) {
  .navbarContainer {
    top: 11%;
  }
}

@media (max-width: 340px) {
  .navbarContainer {
    top: 18%;
  }
}
