/* General */
body {
  margin: 0;
  padding: 0;
}

.main {
  padding: 0 5%;
  margin-top: 100px;
  display: flex;
}

/* leftContainer */
.main .leftContainer {
  width: 45%;
  margin-right: 5rem;
}

.main .leftContainer .containerInfo {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
}

.main .leftContainer h2 {
  font-size: 2.2rem;
  margin-bottom: .3rem;
  color: var(--red);
}

.main .leftContainer h3 {
  text-decoration: underline var(--blue) 10px;
  margin-bottom: .5rem;
  font-size: 1.4rem;
}

.main .leftContainer p {
  color: var(--semiBlack);
  padding: 10px 0;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
}

/* Iconos  */
.leftContainer .icons a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--red);
  border-radius: 50%;
  font-size: 20px;
  color: var(--red);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: .5s ease-in-out;
  margin-right: 20px;
  margin-top: 10px;
}

.leftContainer .icons a:hover {
  color: var(--blue);
  background: var(--red);
}


/* rightContainer */
.main .rightContainer {
  padding: 10px 30px 20px 30px;
  width: 45%;
  background: var(--white);
}

.main .rightContainer form {
  display: flex;
  flex-direction: column;
}

.main .rightContainer form h3, 
.main .rightContainer form input, 
.main .rightContainer form textarea {
  margin-bottom: 30px;
}

.main .rightContainer form h3 {
  font-weight: 600;
  font-size: 2.1rem;
  text-decoration: underline var(--blue) 10px;
}

.main .rightContainer form input {
  height: 50px;
  padding: 7px 15px;
}

.main .rightContainer form textarea {
  height: 180px;
  padding: 7px 15px;
}

.main .rightContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Button Submit */
.main .rightContainer button {
  position: relative;
  width: 100%;
  padding: 10px 20px;
  font-size: 1rem;
  position: relative;
  box-shadow: none;
}

.main .rightContainer button:hover {
  color: var(--blue);
  box-shadow: inset 0 0 1px rgba(56, 75, 169, 0.6), 0 0 6px 3px rgba(56, 75, 169, 0.2);
}

.main .rightContainer button:hover:before {
  transform: translateX(30em);
}

/* Resposive */
@media (max-width: 900px) {
  .main {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .main .rightContainer,
  .main .leftContainer {
    width: 100%;
    margin: 0;
  }

  .main .leftContainer .containerInfo {
    flex-direction: row;
    justify-content: space-between;
   }

   .main .rightContainer {
    padding-top: 20px;
    margin-top: 20px;
  }
}

@media (max-width: 450px) {
   .main .rightContainer {
    margin-top: 50px;
  }
}