.comments .usersComments h2 {
  margin-bottom: 20px;
  font-size: 25px;
  color: var(--blue);
  background: var(--linear-grad);
  padding: 5px 10px;
}

.comments .usersComments ul li {
  display: flex;
  margin-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, 0.142);
  border-radius: 10px;
  background: var(--white);
  position: relative;
  min-height: auto;
  overflow: hidden;
} 

.comments .usersComments ul li header {
  display: flex;
  min-width: 9%;
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, 0.142);
  padding: 15px;
}

.comments .usersComments ul li header img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.comments .usersComments ul li .fecha span {
  position: absolute;
  padding: 0 5px 2px 0;
  top: 0;
  right: 0;
  font-size: 12px;
  color: var(--semiBlack);
}

.hide {
  display: none !important;
}

@media (max-width: 550px) {
  .comments .usersComments ul li {
    min-height: 150px;
  } 

  .comments .usersComments ul li .fecha span {
    font-size: 10px;
  }

  .comments .usersComments ul li header img {
    height: 50px;
    width: 50px;
  }
  
  .comments .usersComments ul li header span {
    text-align: center;
    font-size: 13px;
  }
}

@media (max-width: 420px) {
  .comments .usersComments ul li {
    min-height: 200px;
  } 
}