:root {
  --red: #9d2c3d;
  --blue: #4657c3;
  --white: #fff;
  --black: #000;
  --gray: #333333c1;
  --semiBlack: rgba(0, 0, 0, 0.6);
  --semiWhite: rgba(255, 255, 255, 0.6);
  --lightWhite: rgba(0, 0, 0, 0.142);
  --linear-grad: linear-gradient(to right, #DB0125, #7D0E22, #421520);

  --font-main: 'Poppins', sans-serif;
  --font-titles: 'Lobster', cursive;
}


body {
  text-decoration: none;
  scroll-behavior: smooth;
  display: flex;
  place-items: center;
  background: rgb(232, 232, 232);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}