.deleteButton span {
  position: absolute;
  cursor: pointer;
  padding: 0 5px 2px 0;
  transition: color linear 0.3s;
  overflow: hidden;
  color: var(--semiBlack);
}

.deleteButton span {
  right: 0;
  bottom: 0;
  font-size: 20px;
}

.deleteButton span:hover {
  color: var(--red);
}

.hide {
  display: none !important;
}
