body {
  margin: 0;
  padding: 0;
}

.containerError {
  margin: 15% 0 0 35%;
  width: 100%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.849);
  color: black;
  padding: 20px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0, 3);
  border-radius: 5px;
  line-height: 1.7;
}

.containerError .error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerError button {
  margin-top: 15px;
  background-color: black;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
